@charset "UTF-8";

@import "init";

@keyframes horizontalLoop {
  to {
    transform: translateX(-100%);
  }
}

@keyframes verticalEnter {
  to {
    transform: translateY(0);
  }
}

@keyframes moonEnter {
  to {
    transform: translateY(0) scale(1);
  }
}

/* ヘッダ */
.header {
  overflow: hidden;
  position: relative;
  height: 100vh;
  background: linear-gradient($colorBase, #424c66, #424c66);

  /* logo-container */
  &__logo-container {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  &__logo {
    @include font(en, 1);
    font-size: 40px;
  }

  &__subtitle {
    letter-spacing: 10px;
  }

  /* moon-cotainer */
  &__moon-container {
    position: absolute;
    top: 50%;
    left: 70%;
    width: 10%;
    @include landscape {
      top: 25%;
      width: 3%;
    }
  }

  &__moon {
    width: 100%;
    transform: translateY(100%) scale(2);
    animation: moonEnter 2.5s both;
  }

  /* cloud-container */
  &__cloud-container {
    display: flex;
    position: absolute;
    transform: translateY(-100%);
    animation: verticalEnter 2.5s .5s both;
  }

  &__cloud {
    flex-shrink: 0;
    width: 300%;
    animation: horizontalLoop 250s linear infinite;
    @include landscape {
      width: (300% / 2);
    }
  }

  /* skyline-container */
  &__skyline-container {
    display: flex;
    position: absolute;
    transform: translateY(100%);

    &._layer-3 {
      bottom: -20vw;
      animation: verticalEnter 2s .5s both;
      @include landscape {
        bottom: (-20vw / 2);
      }
    }
    &._layer-2 {
      bottom: -32vw;
      animation: verticalEnter 2s .25s both;
      @include landscape {
        bottom: (-32vw / 2);
      }
    }
    &._layer-1 {
      bottom: -40vw;
      animation: verticalEnter 2s both;
      @include landscape {
        bottom: (-40vw / 2);
      }
    }
  }

  &__skyline {
    flex-shrink: 0;
    width: 300%;
    @include landscape {
      width: (300% / 2);
    }

    &._layer-3 {
      animation: horizontalLoop 150s -20s linear infinite;
    }
    &._layer-2 {
      animation: horizontalLoop 80s linear infinite;
    }
    &._layer-1 {
      animation: horizontalLoop 50s -3s linear infinite;
    }
  }
}
