@charset "UTF-8";

@import "init";

/* 共有 */
.share {
  @include flexCentering;

  &__container {
    position: relative;
    border: 2px solid $colorMain;
    border-radius: 6px;
  }

  &__share-icon {
    @include flexCentering;
    position: absolute;
    top: 50%;
    left: 0;
    padding: 5px 0;
    transform: translateX(-50%) translateY(-50%);
    background-color: $colorBase;
  }

  &__links-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    gap: 30px;
    padding: 15px 40px;
  }

  &__link {
    font-size: 30px;
    transition: color .3s, filter .3s;
    @include hover {
      &:hover {
        &._twitter {
          color: $colorTwitter;
        }
        &._facebook {
          color: $colorFacebook;
        }
        &._line {
          color: $colorLINE;
        }
      }
    }
  }
}
