/* 色 */
$colorTwitter: #55acee;
$colorFacebook: #315096;
$colorLINE: #00c300;

/* ブレークポイント */
// @mixin breakpoint
$tablet: 600px;
$pc: 1025px;
// @mixin breakpointMax
$tabletMax: 1000px;
$phoneMax: 550px;
$seMax: 350px;
